<!doctype html>
    <head>
    </head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Project Title! -->
        <title>EasyOCR</title>    
    </head>
    <script>
        function click_submit(){
            document.getElementById("submit_btn").disabled = true;
        }
        function onFileSelected(event){
            var selectedFile = event.target.files[0];
            var reader = new FileReader();
            
            var imgtag = document.getElementById("myimage");
            imgtag.title = selectedFile.name;

            reader.onload = function(event) {
                imgtag.src = event.target.result;
            };
            reader.readAsDataURL(selectedFile);
            document.getElementById("submit_btn").disabled = false;
        }
    </script>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">
                 <!-- Proejct Title -->
                 
                <h1>EasyOCR<p style="font-size:medium;">다국어 지원 OCR</p></h1>
                <!-- Github link and Ainize link -->
                <A>Github repository : </A> <A href="https://github.com/Wook-2/EasyOCR" target="_blank">https://github.com/Wook-2/EasyOCR</A>
                <br>
                <A>Open API : </A> <A href="https://ainize.ai/Wook-2/EasyOCR?branch=master" target="_blank"> on Ainize </A>
                <hr class="solid">
                
                    <div id = 'inputImage' style="float:left;width: 50%;">
                        <h2>이미지 업로드</h2>
                        <form action="" method="post" enctype="multipart/form-data" onsubmit="click_submit()">
                            <p>파일 선택:<br><input type=file onchange="onFileSelected(event)" name=file </p>
                               <br><br>OCR 언어 선택:<br>
                               <select name="lang">
                                <option value="eng">영어</option> 
                                <option value="ko">한국어</option>
                                <option value="ja">일본어</option>
                                <option value="th">태국어</option>
                                <option value="ch_tra">중국어</option>
                                <option value="ch_sim">중국어(간체)</option>
                                <option value="af">라틴어</option>
                               </select>

                               <input id="submit_btn"class="btn btn-primary btn-lg" style="margin-left: auto;" type=submit value=업로드>
                          </form>
                    </div>

                <div style="float:left;width: 50%;">
                <h2>언어별 샘플 이미지</h2>
                [영어] : <a href="/static/images/test_en.png" target="blank"><button class='btn btn-default'>다운로드(클릭)</button></a><br>
                [한국어] : <a href="/static/images/test_kor.png" target='blank'><button class='btn btn-default'>다운로드(클릭)</button></a><br>
                [일본어] : <a href="/static/images/test_ja.jpg" target='blank'><button class='btn btn-default'>다운로드(클릭)</button></a><br>
                [태국어] : <a href="/static/images/test_thai.jpeg" target='blank'><button class='btn btn-default'>다운로드(클릭)</button></a><br>
                [중국어] : <a href="/static/images/test_ch.png" target='blank'><button class='btn btn-default'>다운로드(클릭)</button></a><br>
                [라틴어] : <a href="/static/images/test_latin.jpg" target='blank'><button class='btn btn-default'>다운로드(클릭)</button></a><br>
                </div>

                <!-- Result Box -->
                    {% if result %}
                    <img src="data:image/jpg;base64,{{ rawimg|safe }}" style="height: 200px;">
                    {% else %}
                    <img id="myimage" alt="업로드 이미지 선택 후, 표시 됩니다." style="height:200px;">
                    
                    {% endif %}
                    <h2>OCR 결과</h2>
                    <h2>: {{ result }}</h2>
                    <br><br>
            </div>
        </div>
    </body>


